/start/nbproject/private/
/start1/nbproject/private/
/start1/build/
/start1/dist/
/marksheetusingarray/nbproject/private/
/marksheetusingarray/build/
/vowelcons/nbproject/private/
/vowelcons/build/
/vowelcons/dist/
/sms/nbproject/private/
/sms/build/